body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: white;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

a:hover {
    color: #ff9900; 
  }

/* Style the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the main content */
#main, #create-acct {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Initially hide the create account form */
#create-acct {
    display: none;
}

/* Style form inputs and buttons */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add some margin to the buttons */
#submit, #sign-up, #create-acct-btn, #return-btn {
    margin-top: 10px;
}

/* Style the "or" separator */
p {
    margin: 10px 0;
}

span {
    background-color: #fff;
    padding: 0 10px;
}